@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Space+Mono:wght@500&display=swap&display=swap");

:root {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #cad3f5;
  background-color: #1e2030;

  text-align: center;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
}

main {
  .top {
    h1 {
      font-family: "Space Mono", monospace;
      margin-bottom: 0.7rem;
    }

    p {
      font-family: "Montserrat";
      font-weight: 500;
      font-size: 1.2rem;

      margin-top: 5px;
    }
  }

  .about-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .about,
    .contact {
      width: 40%;
      border: 5px solid #cad3f5;
      border-radius: 15px;
      background-color: #cad3f5;

      color: #1e2030;

      p,
      ul > li,
      span {
        font-family: "Montserrat";
        text-align: left;

        margin-left: 1.3rem;
        font-size: 1.2rem;
      }

      #contact-title {
        margin: 20px 20px 0 20px;
        padding-bottom: 0;

        font-weight: 600;
      }

      p {
        padding: 5px;
        padding-right: 20px;
      }

      ul {
        padding: 5px 30px;
      }
    }

    .about {
      margin-left: 2rem;
    }

    .contact {
      margin-right: 2rem;

      li > a {
        color: #1e2030;
        text-decoration: none;
      }
    }
  }

  .projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem;

    .card {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      margin: 1rem;
      width: 300px;

      border: 5px solid #494d64;
      border-radius: 15px;
      background-color: #494d64;

      font-family: "Montserrat";

      .img {
        position: relative;
        padding: 10px 0;

        img {
          border: 5px solid #cad3f5;
          border-radius: 15px;
          background-color: #cad3f5;

          width: 150px;
          height: 150px;
          padding: 5px;
        }
      }

      span {
        font-size: 1.2rem;
        font-weight: 600;
        padding: 0px 5px;
      }

      p {
        padding: 0px 15px;
      }
    }
  }
}

@media screen and (max-width: 1150px) {
  main .projects {
    display: block;

    .card {
      width: auto;

      span {
        position: relative;
        top: 13px;
        left: 10px;

        font-size: 1.3rem;
      }
    }
  }
}

@media screen and (max-width: 792px) {
  main .about-contact {
    display: flex;
    flex-direction: column;
    align-items: center;

    .about,
    .contact {
      width: 90%;
      margin: 0 0 20px 0;
    }

    .contact {
      margin-bottom: 0;
    }
  }
}
